* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  color: #fff;
  outline: none;
  border: none;
}

.btn--nav {
  padding: 2rem 0;
  text-transform: capitalize;
  font-size: 1.6rem;
}

.btn--search {
  border: none;
  outline: none;
  padding: 1rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn--suggest {
  display: block;
  color: black;
  padding: 1rem 2rem;
}

.ul--suggest > li:nth-child(2n) {
  background-color: rgb(189, 189, 189);
}

.ul--suggest > li:hover {
  background-color: #2D2D2D;
}

.ul--suggest > li:hover > .btn--suggest {
  color: #fff;
}

.icon--nav {
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.icon--summary {
  margin-left: 1rem;
}

.t1 {
  font-size: 4rem;
  text-transform: capitalize;
}

.t2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}

.t2--footer {
  text-align: right;
}

.text1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.header,
.section,
.footer {
  font-size: 1.6rem;
  width: 100%;
}

.header {
  background-color: #333;
  color: #fff;
}

.main {
  background-image: linear-gradient(45deg, #5f2c82 20%, #49a09d 80%);
  height: 100vh;
}

.footer {
  background-color: #333;
  color: #fff;
}


.header__container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.nav__container {
  display: flex;
}

.btn--nav:hover {
  color: #0088a9;
}

.btn--active {
  color: #0088a9;
}

.nav__item:not(:last-child) {
  margin-right: 3rem;
}

.main__container {
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
}

form {
  width: 50%;
  margin: 0 auto;
}

.form-label {
  font-size: 2rem;
  display: block;
  margin-bottom: 1rem;
  color: #fff;
}

input[type="text"] {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  width: 90%;
  margin-bottom: .5rem;
  border-radius: 5px;
}

#result__content {
  display: none;
  margin-top: 2rem;
}

.footer__container {
  width: 90%;
  margin: 0 auto;
  height: 8vh;
  padding:2.5rem 0;
}

.nav--suggest {
  font-size: 2rem;
  width: 45%;
  margin-bottom: 3rem;
  background-color: white;
  margin-left: 25%;
  display: none;
}

.week__container {
  font-size: 2rem;
  width: 80%;
  margin: 0 auto;
  color: #333;
  margin-top: 3rem;
  background-color: #fff;
  border-radius: 5px;
}

@media only screen and (max-width: 1366px) {
  .week__container {
    width: 100%;
  }
}

.week__day {
  display: flex;
  padding: 1.5rem 0;
}

.week__container {
  display: none;
}

.week__container > .week__day > div {
  width: 14.28571428571429%;
}


.week__container > .week__day > div:not(:last-child) {
  border-right: 1px solid black;
}

.icon--detail {
  margin-right: 1rem;
}

.span-2 {
  margin-left: 2rem;
}

.date__detail {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text--detail {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail--detail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.date__summary {
  padding-left: 1.5rem;
  font-style: italic;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 1;
  transition: all 0.15s;
}