<header class="header">
  <div class="header__container">
    <h1 class="t1">{{title}}</h1>
    <nav class="nav">
      <ul class="nav__container">
        <li class="nav__item"><a href="/" class="btn btn--nav">home</a></li>
        <li class="nav__item"><a href="/help" class="btn btn--nav">help</a></li>
        <li class="nav__item"><a href="/about" class="btn btn--nav">about</a></li>
        <li class="nav__item"><a href="/weather" class="btn btn--nav">weather (client-side render)</a></li>
        <li class="nav__item"><a href="/autocomplete" class="btn btn--nav">weather (server-side render)</a></li>
      </ul>
    </nav>
  </div>
</header>